.button{
	position: relative;
	display: inline-block;
	background-color: $colour-yellow;
	border:5px solid black;
	box-shadow: 5px 5px 0 0 $colour-dark-green;
	font-size: 20px;
	line-height: 20px;
	color: black!important;
	text-align: center;
	text-decoration: none;
	font-weight: 800;
	padding: 15px 25px;
	transition-duration: 0.1s;
	transition-timing-function: ease-in-out;
	&::after{
		content: '';
		display: block;
		position: absolute;
		width: 30px;
		height: 22px;
		background-image: url(/assets/arrow-dark.svg);
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
		top: calc(50% - 12px);
		right: 25px;
		opacity: 0;
		transition-duration: 0.1s;
		transition-timing-function: ease-in-out;
	}
	&:hover{
		padding-right: 65px;
		&::after{
			opacity: 1;
		}
	}
	&:active{
		transform: translate(5px,5px);
		box-shadow: 0px 0px 0 0 $colour-dark-green;
	}
}

.form-group{
	display: block;
	position: relative;
	margin-bottom: 20px;
	&:last-of-type{
		margin-bottom: 0;
	}
	label{
		display: block;
		position: relative;
		font-weight: 800;
		margin-bottom: 5px;
	}
}
.form-control{
	display: block;
	position: relative;
	width: 100%;
	margin: 0;
	padding: 10px;
	font-size: 16px;
	line-height: 16px;
	outline: none;
	border: 5px solid $colour-dark-green;
	box-shadow: 5px 5px 0 0 $colour-light-green;
}
