@font-face {
    font-family: 'PPObjectSans';
    src: local('PP Object Sans Heavy'), local('PPObjectSans-Heavy'),
        url('/fonts/PPObjectSans-Heavy.woff2') format('woff2'),
        url('/fonts/PPObjectSans-Heavy.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PPObjectSans';
    src: local('PP Object Sans Slanted'), local('PPObjectSans-Slanted'),
        url('/fonts/PPObjectSans-Slanted.woff2') format('woff2'),
        url('/fonts/PPObjectSans-Slanted.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'PPObjectSans';
    src: local('PP Object Sans Regular'), local('PPObjectSans-Regular'),
        url('/fonts/PPObjectSans-Regular.woff2') format('woff2'),
        url('/fonts/PPObjectSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PPObjectSans';
    src: local('PP Object Sans Heavy Slanted'), local('PPObjectSans-HeavySlanted'),
        url('/fonts/PPObjectSans-HeavySlanted.woff2') format('woff2'),
        url('/fonts/PPObjectSans-HeavySlanted.woff') format('woff');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

body{
	font-family: 'PPObjectSans',sans-serif;
}
h1{
	font-size: 2.8rem;
	line-height: 3rem;
	font-weight: 800;
}
h2{
	font-size: 2.8rem;
	line-height: 3rem;
	font-weight: 800;
}

p.lead{
	font-size: 1.4rem;
	line-height: 1.8rem;
}

@media (max-width : 767px){
	h2{
		font-size: 2.2rem;
		line-height: 2.4rem;
	}
	p.lead{
		font-size: 1.2rem;
		line-height: 1.6rem;
	}
}


.product-price{
	background-color: $colour-yellow;
	font-size: 24px;
	line-height: 24px;
	font-weight: 700;
	padding: 10px;
	display: inline-block;
	//box-shadow: 5px 5px 0 0 black;
	margin-bottom: 50px;
}
