$colour-yellow: #FFE225;
$colour-dark-green: #549C98;
$colour-light-green: #80C0A1;
$colour-purple: #3D4375;
$colour-red: #E68368;

@import 'reboot';
@import 'grid';
@import 'utilities';

@import 'typography';
@import 'navigation';
@import 'sections';
@import 'footer';
@import 'controls';

@import 'plugins/splide';

@import 'components/slider';
@import 'components/feature-boxes';
@import 'components/product-grid';
@import 'components/cards';
