{% set cacheVersion = "d1" %}

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/css/base.min.css?v={{cacheVersion}}">
        <title>{{pageTitle}} - Peta's Party Planners</title>
	</head>
	<body>
		<nav class="navbar">
			<div class="container">
				<div class="navbar__structure">
					<div class="navbar__logo">
						<img src="/assets/logo-colour.svg" />
					</div>
					<div class="navbar__menu">
						<ul>
							<li><a{% if pageSlug == "homepage" %} class="active"{% endif %} href="#">Home</a></li>
							<li><a{% if pageSlug == "plans" %} {% endif %} href="#">Our Party Plans</a></li>
							<li><a{% if pageSlug == "shop" %} {% endif %} href="#">Shop</a></li>
							<li><a{% if pageSlug == "about" %} {% endif %} href="#">About us</a></li>
							<li><a{% if pageSlug == "contact" %} {% endif %} href="#">Contact us</a></li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
    	{% block body %}{% endblock %}
		<script src="/js/jquery.min.js"></script>
        <script src="/js/scripts.js?v={{cacheVersion}}"></script>
	</body>
</html>
