{% extends "_base.twig" %}

{% set pageSlug = "about" %}
{% set pageTitle = "About" %}

{% block body %}
<section class="background--light nav-spacer">
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-6">
				<h2>Who are we?</h2>
				<p class="lead">Our team is here to make sure that your party is the best that it can be!</p>
				<p>Fusce eu massa at dolor scelerisque pulvinar id eget enim. Curabitur accumsan purus magna, non pharetra nunc pellentesque in. Praesent enim purus, efficitur id congue sit amet, iaculis at nibh. Curabitur sagittis, nunc sed maximus egestas, erat mauris accumsan mauris, vel gravida arcu sapien at massa. Integer metus urna, viverra vel tortor id, placerat sollicitudin nunc. Donec lobortis tincidunt rhoncus. Mauris id posuere odio.</p>
			</div>
			<div class="col-12 col-lg-5 offset-lg-1 mt-4 mt-lg-0">
				<img class="content-image content-image--stylised" src="/images/team.jpg" alt="Photograph of our team at Petas Parties Ltd." />
			</div>
		</div>
	</div>
	<div class="container mt-5">
		<h2>Our certifications</h2>
		<p class="lead">The safety of your children is absolutely paramount. Every member of our team goes through rigorous screening including a DBS check.</p>
		<p>Fusce eu massa at dolor scelerisque pulvinar id eget enim. Curabitur accumsan purus magna, non pharetra nunc pellentesque in. Praesent enim purus, efficitur id congue sit amet, iaculis at nibh. Curabitur sagittis, nunc sed maximus egestas, erat mauris accumsan mauris, vel gravida arcu sapien at massa. Integer metus urna, viverra vel tortor id, placerat sollicitudin nunc. Donec lobortis tincidunt rhoncus. Mauris id posuere odio.</p>
	</div>
</section>
{% endblock %}
