{% extends "_base.twig" %}

{% set pageSlug = "coming-soon" %}
{% set pageTitle = "Coming Soon" %}

{% block body %}
<section class="background--light nav-spacer">
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-8 text-center text-lg-start">
				<h2>Coming Soon</h2>
				<p class="lead">This part of our website isn't quite ready yet. Please check back soon!</p>
			</div>
		</div>
	</div>
</section>
{% endblock %}
