{% extends "_base.twig" %}

{% set pageSlug = "homepage" %}
{% set pageTitle = "Homepage" %}

{% block body %}
<div class="slider" style="height:500px;background:#FFE225;border-bottom:5px solid black;"></div>
<section class="background--light">
	<div class="container">
		<div class="row">
			<div class="col-6">
				<p>Test</p>
			</div>
			<div class="col-6">
				<p>Test</p>
			</div>
		</div>
	</div>
</section>
<section class="background--green">
	<div class="container">
		<p>Some text</p>
	</div>
</section>
<section class="background--light">
	<div class="container">
		<p>Some text</p>
	</div>
</section>
{% endblock %}
