{% extends "_base.twig" %}

{% set pageSlug = "shop" %}
{% set pageTitle = "Shop" %}

{% block body %}
<section class="background--light nav-spacer">
	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-8 text-center text-lg-start">
				<h2>Shop</h2>
				<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean bibendum et purus vitae malesuada.</p>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="product-grid">
			{% for product in products %}
			<a href="/shop/{{product.productid}}" class="product-grid__item">
				<div class="product-grid__item__image" style="background-image:url(/images/products/{{product.image}})"></div>
				<div class="product-grid__item__content">
					<span class="product-grid__item__name">{{product.title}}</span>
					<span class="product-grid__item__price">£{{product.price|number_format(2,'.')}}</span>
				</div>
			</a>
			{% endfor %}
		</div>
	</div>
</section>
{% endblock %}
